# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\imagina\html\laravel-responsecache\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
